rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to settings and orders
    match /settings/{document=**} {
      allow read, write: if true;
    }
    match /orders/{document=**} {
      allow read, write: if true;
    }
  }
}
